[Test Log File Setting]
prefix: fused2
Debug Print: false
Debug Start Cycle: 0
Debug End Cycle: 10000

[Hardware Parameters]
#Systolic Tensor Array Configuration
Dataflow: OS

Group PE Row: 16
Group PE Column: 16
Vector PE Row: 4
Vector PE Column: 2
Multipliers Per PE: 8

#Systolic Tensor Array Port Information
Port A Bit Width: 8
Port B Bit Width: 8

#HBM2 information
Off Chip Memory Bandwidth: 4096

# SRAM Information
SRAM A Single Buffer Limit (KB): 64
SRAM B Single Buffer Limit (KB): 64
SRAM C Single Buffer Limit (KB): 64
