[ARRAY REPORT]
# - Power: mW
# - Area: um^2

[Leakage Power]
Leakage Power Group PE Row: 1
Leakage Power Group PE Column: 1
Leakage Power Vector PE Row: 1
Leakage Power Vector PE Column: 1
Leakage Power Total Number of Multipliers: 1

[Dynamic Power]
Dynamic Power Group PE Row: 1
Dynamic Power Group PE Column: 1
Dynamic Power Vector PE Row: 1
Dynamic Power Vector PE Column: 1
Dynamic Power Total Number of Multipliers: 1

[Area]
Area Group PE Row: 1
Area Group PE Column: 1
Area Vector PE Row: 1
Area Vector PE Column: 1
Area Total Number of Multipliers: 1
